@page
@model GameXchange.Pages.Forms.AccountLoginModel
@{
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <link href="my.css" rel="stylesheet" />

</head>
<body>


    <div id="container">
        <div id="header">
        </div>

        <div id="content">

            <center>

                <fieldset class="feild">
                  


                </fieldset><br />
            </center>



        </div>

    </div>

</body>
</html>