@page
@model GameXchange.Pages.Forms.AccountLoginModel
@{
}


    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>


    <div id="container">


        <div id="content">
            <center>
                <form action="http://www.WebsiteDevelopmentBook.com/FormEcho.php" method="post" onsubmit="return check_info()">
                    <fieldset class="feild">



                        <div class="login-box">
                            <h2><b>Existing Account</b></h2>
                            <div class="user-box">
                                <input type="text" id="username" name="username" /><br />
                                <label for="user">Username:</label>

                            </div>
                            <div class="user-box">
                                <input type="password" id="password" name="password" />
                                <span id="RequiredFieldValidator2" style="color:Red;visibility:hidden;">Password required</span>
                                <br />
                                <label for="pass">Password:</label>
                            </div>
                            <div class="col-5">
                                <h3>
                                    <a class="btn btn-info form-control text-white" href="#">


                                        <input class="btn text-white" type="submit" value="Login" />

                                    </a>
                                </h3>

                            </div>

                            <br /><br />

                            <h2><b>New Account</b> </h2>

                            <div class="col-8">
                                <a asp-page="/AccountList/Create" class="btn btn-info form-control text-white">Create New Account</a>
                            </div>


                        </div>
                    </fieldset><br />
                </form>
            </center>



        </div>

    </div>

