@page
@model GameXchange.Pages.OtherPgs.AboutServiceModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <link href="my.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/about.css" />
</head>
<body>

    <div id="container">



        <div id="content">
            <center>
                <form name="myForm" action="http://www.WebsiteDevelopmentBook.com/FormEcho.php" method="post">

                    <fieldset class="feild">
                        <hr><b class="title">Subscription Tiers</b> <br><hr/>
                    <br /><br /><br />
                      


                        <table style="width:100%">
                            <tr>
                                <th>Tier 1:</th>
                                <td>$10 monthly will get one game trade for the month.</td>
                            </tr>
                            <tr>
                                <th>Tier 2:</th>
                                <td>$60  one trade per month.</td>
                            </tr>
                            <tr>
                                <th>Tier 3:</th>
                                <td> $120 one trades per month and include DLC season passes.</td>
                            </tr>
                            <tr>
                                <th>Trial:</th>
                                <td> One free trade.</td>
                            </tr>
                        </table>




                    </fieldset><br />
                </form>
            </center>



        </div>

    </div>


</body>
</html>
