@page
@model GameXchange.Pages.OtherPgs.AboutServiceModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <link href="my.css" rel="stylesheet" />
</head>
<body>

    <div id="container">



        <div id="content">
            <center>
                <form name="myForm" action="http://www.WebsiteDevelopmentBook.com/FormEcho.php" method="post">

                    <fieldset class="feild">
                        <hr>Subscription Tiers<hr />

                                              <p>
                                                  Tier 1: $10 monthly will get one game trade for the month.
                                                  Tier 2: $60  one trade per month.
                                                  Tier 3: $120 one trades per month and include DLC season passes.
                                                  Trial: One free trade.



                                              </p>


                    </fieldset><br />
                </form>
            </center>



        </div>

    </div>


</body>
</html>
