<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <link href="my.css" rel="stylesheet" />
</head>
<body>

    <div id="container">



        <div id="content">
            <center>
                <form name="myForm" action="http://www.WebsiteDevelopmentBook.com/FormEcho.php" method="post">

                    <fieldset class="feild">
                        <hr>Subscription Tiers<hr />

                        <p>
                            the first tier is a 20 dollar monthly fee for one trade and if the user once to do another trade within the month they can but will be charged an extra 5 per additional trade.

                            then the next tier is 6 months for 90 and you can get 2 trades a month with the same 5 dollar fee for anything above 2 trades per month

                            then the last tier is 200 with 3 trades per month

                            just release fee will apply to first two tiers where if some is trading for a game that just came out there charged an additional 5 dollars


                        </p>


                    </fieldset><br />
                </form>
            </center>



        </div>

    </div>


</body>
</html>
