<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <link href="my.css" rel="stylesheet" />

</head>
<body>


    <div id="container">
        <div id="header">
        </div>

        <div id="content">

            <center>

                <fieldset class="feild">
                    <legend><b>Mission Statement</b> </legend>
                    <p>
                        Gaming is evolving every day and with it, the culture of gaming follows.
                        So as a company, we want to continue the evolution of gaming culture by bringing
                        forth one of the oldest practices of gamer culture back. In the oldest times before
                        we had games and currency the world had barter systems where people traded goods like
                        salt, gold, meat, etc.. and that culture continued. In early 2000 as console games became
                        more popular so did game trading it was awesome, but it also could be inconvenient at times.
                        So we at game exchange saw an opportunity to change the game by bringing back game trading with
                        online games across all gaming platforms. Gamers will be able to trade game licenses for a set amount
                        of time or forever.



                    </p>


                </fieldset><br />
            </center>



        </div>

    </div>

</body>
</html>