@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <link rel="stylesheet" href="~/css/my.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>

    <div id="slideshow">
        <div>
            <img src="~/Pic/FIFA-20-Champion-Edition.jpg" />
        </div>
        <div>
            <img src="~/Pic/GodofWar.jpg" />
        </div>
        <div>
            <img src="~/Pic/Red-Dead-Redemption-2.jpg" />
        </div>
    </div>
