@using GameXchange.ViewModels
@model GameListViewModel


    <h2>@Model.CurrentCategory</h2>
    @{
        foreach (var game in Model.GameInfos)
        { 
        <div>
            <h4> Game Name: @game.Name</h4>
            <p> Price: @game.GamePrice.ToString("c")</p>

        </div>

    }

}