


body {
}


.logo {
    height: 20%;
    width: 50%;
}

p{
    font-size: 20px;
}

table {
    text-align: center;
    font-size: 15pt;
    
}

.title {
    font-size: 20pt;
}

th {
    background-color: #0000A0;
    padding-top: 12px;
    padding-bottom: 12px;
    color:white;
    border: 1px solid #ddd;
    padding: 8px;
}
td {
    border: 1px solid #D3D3D3;
}

span{
    font-size: 12pt;
}