@page

@model GameXchange.CSSModel @ {
    ViewData ["Title"] = "CSS";
}

<h1 > CSS</h1 >

body {
    background-color: #192231;
}

.chatbtn {
    background-color: #CBCF51;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15pt;
    border-radius: 12px;
}


 .chatbtn:hover {
        background-color: #c6cc08;
        color: white;
    }

table {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 20pt;
    COLOR: black;
}

hr {
    color: black;
    width: 20%;
    height: index;
}

img {
    height: 100px;
    width: 100px;
}

.nameSize {
    font-size: 20pt;
}

span {
    font-size: 20px;
}
